
configuration {
    show-icons:                  true;
}

@import "shared.rasi"

window {
    enabled:                     true;
    location:                    center;
    x-offset:                    0;
    y-offset:                    0;
    fullscreen:                  false;
    transparency:                "real";
    cursor:                      "default";
    spacing:                     0em;
    padding:                     0em;
    border:                      0.188em;
    border-radius:               0.938em;
    border-color:                @bg-alt;
    background-color:            transparent;
}

mainbox {
    enabled:                     true;
    children:                    [ "listview" ];
    background-color:            @background-alt;
}

listview {
    enabled:                     true;
    columns:                     6;
    lines:                       1;
    spacing:                     0.312em;
    padding:                     0.625em;
    cycle:                       true;
    dynamic:                     false;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @foreground;
}

element {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0.5em;
	orientation:				 vertical;
    border-radius:               0.938em;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @foreground;
}

element selected.normal {
    background-color:            @selected;
    text-color:                  @background;
}

element-icon {
	size:						 18%;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
    border:                      0.125em;
	border-color:                @selected;
	border-radius:               0.625em;
}

element-text {
	enabled:					 true;
    vertical-align:              0.5;
    horizontal-align:            0.5;
    font:                        "JetBrainsMono NF 9";
    padding:                     0em;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}
