

configuration {
	modi: 						"drun";
	icon-theme: 				"Papirus-Dark";
	application-fallback-icon: 	"Adwaita";
    show-icons:                 true;
	drun-display-format:        "{name}";
	disable-history:            true;
	sidebar-mode: 				false;

	hover-select:				true;
	me-select-entry:			"";
	me-accept-entry:			"MousePrimary";
}

@import "shared.rasi"


window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       34.375em;
    x-offset:                    0em;
    y-offset:                    0em;

    /* properties for all widgets */
    enabled:                     true;
    border-radius:               0.375em;
    cursor:                      "default";
    background-color:            @background;
}


mainbox {
    enabled:                     true;
    spacing:                     0em;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "inputbar", "listbox" ];
}

listbox {
    spacing:                     0.625em;
    padding:                     0.938em 0.938em;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "listview" ];
}

inputbar {
    enabled:                     true;
    spacing:                     0.625em;
    padding:                     3.125em 6.25em;
    background-color:            transparent;
    background-image:            url("~/.cache/rofi_header.webp", width);
    text-color:                  @foreground;
    orientation:                 horizontal;
    children:                    [ "textbox-prompt-colon", "entry" ];
}

textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    font:                        "JetBrainsMono NF Bold 9";
    str:                         "";
    padding:                     0.75em 1.188em 0 0.938em;
    border-radius:               0.5em;
    background-color:            @background-alt;
    text-color:                  inherit;
}

entry {
    enabled:                     true;
    expand:                      true;
    padding:                     0.75em 0.75em;
    border-radius:               0.5em;
    background-color:            @background-alt;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Search";
    placeholder-color:           inherit;
}

listview {
    enabled:                     true;
    columns:                     3;
    lines:						 5;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;

    spacing:                     0.188em;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      "default";
}

element {
    enabled:                     true;
    spacing:                     0.625em;
    padding:                     0.5em;
    border-radius:               0.25em;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      pointer;
}

element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}

element selected.normal {
    background-color:            @selected;
    text-color:                  @background;
}

element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        1.5em;
    cursor:                      inherit;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
