
configuration {
	modi:                       "drun,run,filebrowser,window";
    show-icons:                 true;
    disable-history:            true;
    application-fallback-icon: 	"Adwaita";
    display-drun:               "Apps";
    display-run:                "Run";
    display-filebrowser:        "Files";
    display-window:             "Windows";
	drun-display-format:        "{name}";
	window-format:              "{w} · {c}";
}

@import "shared.rasi"

window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       47.5em;
    x-offset:                    0em;
    y-offset:                    0em;

    enabled:                     true;
    border-radius:               0.625em;
    cursor:                      "default";
    background-color:            @background-alt;
}


mainbox {
    enabled:                     true;
    spacing:                     0.875em;
    padding:                     0.875em 0.875em;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "inputbar", "listbox" ];
}

listbox {
    spacing:                     1.25em;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "listview" ];
}

inputbar {
    enabled:                     true;
    spacing:                     0.625em;
    padding:                     3.875em 2.25em;
    border-radius:               0.625em;
    background-color:            transparent;
    background-image:            url("~/.cache/rofi_header.webp", width);
    text-color:                  @foreground;
    orientation:                 horizontal;
    children:                    [ "textbox-prompt-colon", "entry", "dummy", "dummy", "dummy", "dummy", "mode-switcher" ];
}

textbox-prompt-colon {
    enabled:                     true;
    font:                        "JetBrains Mono Nerd Font 9";
    expand:                      false;
    str:                         "";
    padding:                     0.625em 1.0em 0.625em 0.75em;
    border-radius:               0.625em;
    background-color:            @background-alt;
    text-color:                  inherit;
}

entry {
    enabled:                     true;
    expand:                      false;
    width:                       14.375em;
    padding:                     0.625em 0.75em;
    border-radius:               0.375em;
    background-color:            @background-alt;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Search";
    placeholder-color:           inherit;
}

dummy {
    expand:                      false;
    background-color:            transparent;
}

mode-switcher{
    enabled:                     true;
    spacing:                     0.625em;
    background-color:            transparent;
    text-color:                  @foreground;
}

button {
    width:                       4.688em;
    padding:                     0.625em;
    border-radius:               0.375em;
    background-color:            @background-alt;
    text-color:                  inherit;
    cursor:                      pointer;
}

button selected {
    background-color:            @selected;
    text-color:                  @background;
}

scrollbar {
    handle-width:                0.625em ;
    handle-color:                @active;
    background-color:            @background-alt;
}

listview {
    enabled:                     true;
    columns:                     6;
    lines:                       4;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   true;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;

    spacing:                     0.625em;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      "default";
}

element {
    enabled:                     true;
    spacing:                     0.625em;
    padding:                     0.625em;
    border-radius:               0.625em;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      pointer;
    orientation:                 vertical;
}

element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}

element normal.urgent {
    background-color:            @urgent;
    text-color:                  @foreground;
}

element normal.active {
    background-color:            @active;
    text-color:                  @foreground;
}

element selected.normal {
    background-color:            @selected;
    text-color:                  @background;
}

element selected.urgent {
    background-color:            @urgent;
    text-color:                  @foreground;
}

element selected.active {
    background-color:            @urgent;
    text-color:                  @foreground;
}

element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        2.625em;
    cursor:                      inherit;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}

message {
    background-color:            transparent;
}

textbox {
    padding:                     0.938em;
    border-radius:               0.938em;
    background-color:            @background-alt;
    text-color:                  @foreground;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

error-message {
    padding:                     0.938em;
    border-radius:               0.938em;
    background-color:            @background;
    text-color:                  @foreground;
}
